* {
    /* height & width now includes border & padding */
    box-sizing: border-box;
}

nav {
  display: flex;
}

nav {
  display: flex;
  flex-direction: row; /* default */
  justify-content: flex-start; /* default */
  height: 50px;
  background-color: #a2cbb6;
}

nav > div {
  font-size: 20px;
  margin: 10px;
  color: #f3dba8;
}

nav > div:last-child {
  margin-left: auto;
}

aside {
  background-color: #a2b4da;
}

main {
  background-color: #f3dba8;
}

footer {
  background-color: #a2cbb6;
}
